<section class="pt-0 lg:px-8 h-fit">
  <div class="rounded-2xl bg-[var(--main-light-accent)] dark:bg-[var(--main-dark-accent)] py-10 overflow-hidden m-5 lg:m-0 2xl:py-16 xl:py-8 lg:rounded-tl-2xl lg:rounded-bl-2xl">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <div class="grid grid-cols-1 gap-14 items-center lg:grid-cols-12 lg:gap32">
        <div class="w-full xl:col-span-5 lg:col-span-6 2xl:-mx-5 xl:-mx-0">
          <div class="flex items-center text-sm font-medium text-[var(--main-text-light)] dark:text-[var(--main-text-dark)] justify-center lg:justify-start">
            <span class="bg-[var(--main-dark-1)] py-1 px-3 rounded-2xl text-xs font-medium text-[var(--main-light-1)] mr-3">#1</span>
            En calidad
          </div>
          <h1 class="py-8 text-center text-[var(--main-text-light)] dark:text-[var(--main-text-dark)] font-bold font-manrope text-5xl lg:text-left leading-[70px]">
            Para las mejores charlas,
            <span class="text-[var(--main-dark-5)] dark:text-[var(--main-light-5)]">unos buenos mates.</span>
          </h1>
          <p class="text-[var(--main-dark-5)] dark:text-[var(--main-light-5)] text-lg text-center lg:text-left">
            Vos también podes formar parte de esta hermosa familia.
          </p>
          <form action="" method="GET" class="flex flex-col items-center" id="productSearchForm">
            <label for="busqueda" class="block mb-2 text-sm font-medium text-gray-600 w-full sr-only">Busqueda</label>
            <div class="relative w-full p-1.5 my-10 flex items-center gap-y-4 h-auto md:h-16 flex-col md:flex-row justify-between rounded-full md:shadow-[0px 15px 30px -4px rgba(16, 24, 40, 0.03)] lg:border lg:border-transparent md:bg-white transition-all duration-500 lg:hover:border-[var(--main-dark-1)] focus-within:border-[var(--main-dark-1)]">
              <input type="text" name="email" placeholder="Escriba su busqueda aquí" class="text-base rounded-full text-[var(--main-text-light)] flex-1 py-4 px-6 shadow-[0px 15px 30px -4px rgba(16, 24, 40, 0.03)] md:shadow-none bg-white md:bg-transparent shadow-none placeholder:text-gray-400 focus:outline-none md:w-fit w-full" id="productsSearchInput" />
              <button class="bg-[var(--main-dark-1)] rounded-full py-3 px-7 text-base font-semibold text-white hover:bg-[var(--main-dark-5)] cursor-pointer transition-all duration-500 md:w-fit w-full" type="submit" id="buttonSearchForm">Buscar</button>
            </div>
          </form>
        </div>
        <div class="w-full xl:col-span-7 lg:col-span-6 block">
          <div class="w-full sm:w-auto lg:w-[60.8125rem] xl:ml-16">
            <img src="https://images.unsplash.com/photo-1544240841-280e8f840f4b?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Dashboard image" class="w-full lg:h-auto rounded-2xl" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-24 relative">
  <div class="w-full max-w-7xl mx-auto px-4 md:px-8">
    <div class="flex flex-col lg:flex-row gap-11 items-center p-11 border border-[var(--main-light-accent)] dark:border-[var(--main-dark-accent)] bg-[var(--main-light-accent)] dark:bg-[var(--main-dark-accent)] rounded-xl">
      <div class="box max-w-md w-full">
        <div class="flex items-center justify-center gap-[5px]">
          <img class="h-[80px] dark:hidden object-contain" src="/images/logo_light_webp.webp" alt="logo modo claro" />
          <img class="h-[80px] hidden dark:block object-contain" src="/images/logo_dark_webp.webp" alt="logo modo oscuro" />
        </div>
        <p class="mt-3 text-center font-normal text-xl leading-8 text-[var(--main-text-light)] dark:text-[var(--main-text-dark)]">
          Los precios más bajos, la mejor calidad</p>
      </div>

      <div class="grid grid-cols-2 min-[450px]:grid-cols-3 sm:grid-cols-3 gap-y-6 xl:gap-14 w-full max-lg:max-w-xl">
        <div class="box flex flex-col items-center">
          <button aria-label="Envíos a todo el país" class="p-5 rounded-full shadow-sm shadow-transparent bg-[var(--main-light-accent)] dark:bg-[var(--main-dark-accent)] flex items-center justify-center transition-all duration-500 hover:bg-indigo-100 hover:shadow-indigo-200 focus-within:bg-indigo-100 focus-within:outline-0">
            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-baggage-claim">
              <path d="M22 18H6a2 2 0 0 1-2-2V7a2 2 0 0 0-2-2" />
              <path d="M17 14V4a2 2 0 0 0-2-2h-1a2 2 0 0 0-2 2v10" />
              <rect width="13" height="8" x="8" y="6" rx="1" />
              <circle cx="18" cy="20" r="2" />
              <circle cx="9" cy="20" r="2" />
            </svg>
          </button>
          <p class="mt-2 font-medium text-sm lg:text-md leading-6 text-[var(--main-dark-5)] dark:text-[var(--main-light-5)] w-[81px] text-center">
            Envíos a todo el país
          </p>
        </div>

        <div class="box flex flex-col items-center">
          <button aria-label="Calidad Asegurada" class="p-5 rounded-full shadow-sm shadow-transparent bg-[var(--main-light-accent)] dark:bg-[var(--main-dark-accent)] flex items-center justify-center transition-all duration-500 hover:bg-indigo-100 hover:shadow-indigo-200 focus-within:bg-indigo-100 focus-within:outline-0">
            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-shield-check">
              <path d="M20 13c0 5-3.5 7.5-7.66 8.95a1 1 0 0 1-.67-.01C7.5 20.5 4 18 4 13V6a1 1 0 0 1 1-1c2 0 4.5-1.2 6.24-2.72a1.17 1.17 0 0 1 1.52 0C14.51 3.81 17 5 19 5a1 1 0 0 1 1 1z" />
              <path d="m9 12 2 2 4-4" />
            </svg>
          </button>
          <p class="mt-2 font-medium text-sm lg:text-md leading-6 text-[var(--main-dark-5)] dark:text-[var(--main-light-5)] w-[81px] text-center">
            Calidad Asegurada
          </p>
        </div>
        <div class="box flex flex-col items-center max-[450px]:col-span-2">
          <button aria-label="Los Mejores Descuentos" class="p-5 rounded-full shadow-sm shadow-transparent bg-[var(--main-light-accent)] dark:bg-[var(--main-dark-accent)] flex items-center justify-center transition-all duration-500 hover:bg-indigo-100 hover:shadow-indigo-200 focus-within:bg-indigo-100 focus-within:outline-0">
            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-percent">
              <line x1="19" x2="5" y1="5" y2="19" />
              <circle cx="6.5" cy="6.5" r="2.5" />
              <circle cx="17.5" cy="17.5" r="2.5" />
            </svg>
          </button>
          <p class="mt-2 font-medium text-sm lg:text-md leading-6 text-[var(--main-dark-5)] dark:text-[var(--main-light-5)] w-[81px] text-center">
            Los Mejores Descuentos
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="w-full flex flex-col justify-center">
  <section class="pb-24">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <h2 class="font-manrope font-bold text-3xl min-[400px]:text-4xl text-[var(--main-text-light)] dark:text-[var(--main-text-dark)] mb-8 max-lg:text-center">
        Productos Destacados</h2>
      <div class="grid grid-cols-1 lg:grid-cols-3 gap-8">

        {{#each products}}
          <div class="max-w-[384px] mx-auto" id="{{_id}}">
            <div class="w-full max-w-sm aspect-square bg-white rounded-xl overflow-hidden">
              <a href="/producto/{{slug}}"><img src="{{index images 0}}" alt="cream image" class="w-full h-full object-contain border" /></a>
            </div>
            <div class="mt-5 flex items-start justify-between">
              <div class="">
                <p class="font-medium text-xl leading-8 text-[var(--main-text-light)] dark:text-[var(--main-text-dark)] mb-2">
                  <a class="hover:underline" href="/producto/{{slug}}">{{title}}</a>
                </p>
                <p class="font-semibold text-xl leading-8 text-[var(--main-dark-5)] dark:text-[var(--main-light-5)]">
                  {{currency price "arg"}}</p>
              </div>
              <button aria-label="Agregar al carrito" class="addToCart p-2 min-[400px]:p-4 rounded-full bg-white border border-gray-300 flex items-center justify-center group shadow-sm shadow-transparent transition-all duration-500 hover:shadow-gray-200 hover:border-gray-400 hover:bg-gray-50" data-product-id="{{_id}}" type="button">
                <svg class="stroke-gray-900 transition-all duration-500 group-hover:stroke-black" xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26" fill="none">
                  <path d="M12.6892 21.125C12.6892 22.0225 11.9409 22.75 11.0177 22.75C10.0946 22.75 9.34632 22.0225 9.34632 21.125M19.3749 21.125C19.3749 22.0225 18.6266 22.75 17.7035 22.75C16.7804 22.75 16.032 22.0225 16.032 21.125M4.88917 6.5L6.4566 14.88C6.77298 16.5715 6.93117 17.4173 7.53301 17.917C8.13484 18.4167 8.99525 18.4167 10.7161 18.4167H18.0056C19.7266 18.4167 20.587 18.4167 21.1889 17.9169C21.7907 17.4172 21.9489 16.5714 22.2652 14.8798L22.8728 11.6298C23.3172 9.25332 23.5394 8.06508 22.8896 7.28254C22.2398 6.5 21.031 6.5 18.6133 6.5H4.88917ZM4.88917 6.5L4.33203 3.25" stroke="" stroke-width="1.6" stroke-linecap="round" />
                </svg>
              </button>
            </div>
          </div>
        {{/each}}

      </div>
    </div>
  </section>

</div>