<section class="pb-24 relative">
  <div class="w-full mx-auto px-4 md:px-8">
    <div class="flex flex-col lg:flex-row lg:items-center max-lg:gap-4 justify-between w-full">
      <div class="relative w-full md:max-w-sm">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-filter text-[var(--main-dark-5)] dark:text-[var(--main-light-5)] absolute top-1/2 -translate-y-1/2 left-4 z-50">
          <polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3" />
        </svg>
        <label for="Offer" class="sr-only">Offer</label>
        <select id="Offer"
          class="h-12 text-[var(--main-dark-5)] dark:text-[var(--main-light-5)] pl-11 text-base font-normal leading-7 rounded-full block w-full py-2.5 px-4 appearance-none relative focus:outline-none bg-[var(--main-light-accent)] dark:bg-[var(--main-dark-accent)] transition-all duration-500focus-within:bg-gray-50">
          <option value="" {{#if (eq sort "" )}}selected{{/if}}>Más Relevante</option>
          <option value="asc" {{#if (eq sort "asc" )}}selected{{/if}}>Menor Precio</option>
          <option value="desc" {{#if (eq sort "desc" )}}selected{{/if}}>Mayor Precio</option>
        </select>
        <svg class="absolute top-1/2 -translate-y-1/2 right-4 z-50" width="16" height="16" viewBox="0 0 16 16"
          fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M12.0002 5.99845L8.00008 9.99862L3.99756 5.99609" stroke="#111827" stroke-width="1.6"
            stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </div>
    </div>
    <svg class="my-7 w-full" xmlns="http://www.w3.org/2000/svg" width="1216" height="2" viewBox="0 0 1216 2"
      fill="none">
      <path d="M0 1H1216" stroke="#E5E7EB" />
    </svg>
    <div class="grid grid-cols-12">
      <div class="col-span-12 md:col-span-3 w-full max-md:max-w-md max-md:mx-auto">
        <div
          class="box rounded-xl bg-[var(--main-light-accent)] dark:bg-[var(--main-dark-accent)] p-6 w-full md:max-w-sm">
          <p class="font-medium text-base leading-7 text-[var(--main-dark-5)] dark:text-[var(--main-light-5)] mb-5">
            ¿Ya sabes lo que estas buscando?</p>
          <form action="" method="GET" class="flex flex-col items-center" id="productSearchForm">
            <label for="busqueda" class="block mb-2 text-sm font-medium text-gray-600 w-full sr-only">Busqueda</label>
            <div class="relative w-full mb-8">
              <input type="text" name="busqueda" placeholder="Escriba su busqueda aquí"
                class="text-base rounded-full text-[var(--main-text-light)] flex-1 py-4 px-6 shadow-[0px 15px 30px -4px rgba(16, 24, 40, 0.03)] md:shadow-none bg-white shadow-none placeholder:text-gray-400 focus:outline-none w-full border focus:border-[var(--main-dark-1)]"
                id="productsSearchInput" />
            </div>
            <button
              class="w-full py-2.5 flex items-center justify-center gap-2 rounded-full bg-[var(--main-dark-1)] text-[var(--main-text-dark)] font-semibold text-xs shadow-sm shadow-transparent transition-all duration-500 hover:bg-[var(--main-dark-3)] hover:shadow-[var(--main-light-accent)]"
              type="submit" id="buttonSearchForm">
              <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M14.4987 13.9997L13.1654 12.6663M13.832 7.33301C13.832 10.6467 11.1457 13.333 7.83203 13.333C4.51832 13.333 1.83203 10.6467 1.83203 7.33301C1.83203 4.0193 4.51832 1.33301 7.83203 1.33301C11.1457 1.33301 13.832 4.0193 13.832 7.33301Z"
                  stroke="white" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
              Buscar
            </button>
          </form>
        </div>

        <div
          class="mt-7 box rounded-xl bg-[var(--main-light-accent)] dark:bg-[var(--main-dark-accent)] p-6 w-full md:max-w-sm">
          <div
            class="flex items-center justify-between w-full pb-3 border-b border-[var(--main-dark-5)] dark:border-[var(--main-light-5)] mb-7">
            <p class="font-medium text-base leading-7 text-[var(--main-dark-5)] dark:text-[var(--main-light-5)]">
              Filtro</p>
            <a href="/productos"
              class="font-medium text-xs text-[var(--main-dark-5)] dark:text-[var(--main-light-5)] cursor-pointer transition-all duration-500 hover:text-[var(--main-dark-1)]">
              RESET</a>
          </div>
          <div>
            <label id="listbox-label"
              class="block text-sm font-medium leading-6 text-[var(--main-dark-5)] dark:text-[var(--main-light-5)]">Filtra
              por
              Categorías</label>
            <div class="relative mt-2">
              <button type="button"
                class="h-12 text-[var(--main-dark-5)] dark:text-[var(--main-light-5)] text-base font-normal leading-7 rounded-full block w-full py-2.5 px-4 appearance-none relative focus:outline-none bg-[var(--main-bg-light)] dark:bg-[var(--main-bg-dark)] transition-all duration-500 focus-within:bg-gray-50 shadow-sm shadow-transparent hover:bg-[var(--main-light-2)] hover:dark:bg-[var(--main-dark-5)] hover:shadow-[var(--main-light-accent)]"
                aria-haspopup="listbox" aria-expanded="true" aria-labelledby="listbox-label"
                category-selected-slug="{{categoryBySlug.slug}}" id="categories-select-button">
                <span class="flex items-center">
                  <span class="block truncate">{{categorySelectTitle}}</span>
                </span>
                <span class="pointer-events-none absolute inset-y-0 right-0 ml-3 flex items-center pr-2">
                  <svg class="h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd"
                      d="M10 3a.75.75 0 01.55.24l3.25 3.5a.75.75 0 11-1.1 1.02L10 4.852 7.3 7.76a.75.75 0 01-1.1-1.02l3.25-3.5A.75.75 0 0110 3zm-3.76 9.2a.75.75 0 011.06.04l2.7 2.908 2.7-2.908a.75.75 0 111.1 1.02l-3.25 3.5a.75.75 0 01-1.1 0l-3.25-3.5a.75.75 0 01.04-1.06z"
                      clip-rule="evenodd" />
                  </svg>
                </span>
              </button>
              <ul
                class="hidden absolute z-10 mt-1 max-h-56 w-full overflow-auto rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm"
                tabindex="-1" role="listbox" aria-labelledby="listbox-label" aria-activedescendant="listbox-option-3"
                id="categories-select-container">
                {{{productsCategoriesComponent}}}
              </ul>
            </div>
          </div>


          {{!-- <label for="Offer" class="font-medium text-sm leading-6 text-gray-600 mb-1">Categorías</label>
          <div class="relative w-full mb-7">
            <select id="Offer"
              class="h-12 border border-gray-300 text-[var(--main-text-light)] text-xs font-medium rounded-full block w-full py-2.5 px-4 appearance-none relative focus:outline-none bg-white">
              <option selected>Todo</option>
              {{{productsCategoriesComponent}}}
            </select>
            <svg class="absolute top-1/2 -translate-y-1/2 right-4 z-50" width="16" height="16" viewBox="0 0 16 16"
              fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M12.0002 5.99845L8.00008 9.99862L3.99756 5.99609" stroke="#111827" stroke-width="1.6"
                stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </div>
          <p class="font-medium text-sm leading-6 text-black mb-3">Discount</p>
          <div class="box flex flex-col gap-2">
            <div class="flex items-center">
              <input id="checkbox-default-1" type="checkbox" value=""
                class="w-5 h-5 appearance-none border border-gray-300 rounded-md mr-2 hover:border-[var(--main-dark-5)] hover:bg-indigo-100 checked:bg-no-repeat checked:bg-center checked:border-[var(--main-dark-5)] checked:bg-indigo-100 checked:bg-[url('https://pagedone.io/asset/uploads/1689406942.svg')]" />
              <label for="checkbox-default-1" class="text-xs font-normal text-gray-600 leading-4 cursor-pointer">20% or
                more</label>
            </div>
            <div class="flex items-center">
              <input id="checkbox-default-2" type="checkbox" value=""
                class="w-5 h-5 appearance-none border border-gray-300 rounded-md mr-2 hover:border-[var(--main-dark-5)] hover:bg-indigo-100 checked:bg-no-repeat checked:bg-center checked:border-[var(--main-dark-5)] checked:bg-indigo-100 checked:bg-[url('https://pagedone.io/asset/uploads/1689406942.svg')]" />
              <label for="checkbox-default-2" class="text-xs font-normal text-gray-600 leading-4 cursor-pointer">30% or
                more</label>
            </div>
            <div class="flex items-center">
              <input id="checkbox-default-3" type="checkbox" value=""
                class="w-5 h-5 appearance-none border border-gray-300 rounded-md mr-2 hover:border-[var(--main-dark-5)] hover:bg-indigo-100 checked:bg-no-repeat checked:bg-center checked:border-[var(--main-dark-5)] checked:bg-indigo-100 checked:bg-[url('https://pagedone.io/asset/uploads/1689406942.svg')]" />
              <label for="checkbox-default-3" class="text-xs font-normal text-gray-600 leading-4 cursor-pointer">50% or
                more</label>
            </div>
          </div>
          --}}
        </div>
      </div>
      <div class="col-span-12 md:col-span-9">
        <div class="w-full mt-7 lg:mt-0 pt-0 p-4 xl:p-0 min-h-screen" id="body-container">
          <section class="">
            <div class="mx-auto px-4 sm:px-6 lg:px-8">

              <div class="grid grid-cols-1 lg:grid-cols-3 gap-8">
                {{#each products}}
                <div class="max-w-[384px] mx-auto" id="{{_id}}">
                  <div class="w-full max-w-sm bg-white rounded-xl overflow-hidden aspect-square">
                    <a href="/producto/{{slug}}"><img src="{{index images 0}}" alt="cream image"
                        class="w-full h-full object-contain border" /></a>
                  </div>
                  <div class="mt-5 flex items-start justify-between">
                    <div class="">
                      <p
                        class="font-medium text-xl leading-8 text-[var(--main-text-light)] dark:text-[var(--main-text-dark)] mb-2">
                        <a class="hover:underline" href="/producto/{{slug}}">{{title}}</a>
                      </p>
                      <p
                        class="font-semibold text-xl leading-8 text-[var(--main-dark-5)] dark:text-[var(--main-light-5)]">
                        {{currency price "arg"}}
                      </p>
                    </div>
                    <button
                      class="addToCart p-2 min-[400px]:p-4 rounded-full bg-white border border-gray-300 flex items-center justify-center group shadow-sm shadow-transparent transition-all duration-500 hover:shadow-gray-200 hover:border-gray-400 hover:bg-gray-50"
                      data-product-id="{{_id}}" type="button" aria-label="Agregar al carrito">
                      <svg class="stroke-gray-900 transition-all duration-500 group-hover:stroke-black"
                        xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26" fill="none">
                        <path
                          d="M12.6892 21.125C12.6892 22.0225 11.9409 22.75 11.0177 22.75C10.0946 22.75 9.34632 22.0225 9.34632 21.125M19.3749 21.125C19.3749 22.0225 18.6266 22.75 17.7035 22.75C16.7804 22.75 16.032 22.0225 16.032 21.125M4.88917 6.5L6.4566 14.88C6.77298 16.5715 6.93117 17.4173 7.53301 17.917C8.13484 18.4167 8.99525 18.4167 10.7161 18.4167H18.0056C19.7266 18.4167 20.587 18.4167 21.1889 17.9169C21.7907 17.4172 21.9489 16.5714 22.2652 14.8798L22.8728 11.6298C23.3172 9.25332 23.5394 8.06508 22.8896 7.28254C22.2398 6.5 21.031 6.5 18.6133 6.5H4.88917ZM4.88917 6.5L4.33203 3.25"
                          stroke="" stroke-width="1.6" stroke-linecap="round" />
                      </svg>
                    </button>
                  </div>
                </div>
                {{/each}}


              </div>
            </div>
            <div class="w-full flex justify-center text-center mt-10">
              {{#if hasPrevPage}}
              <a href="{{prevLink}}" class="flex w-fit mr-5 hover:underline"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-left"><path d="m15 18-6-6 6-6"/></svg>Anterior</a>
              {{/if}}

              {{#if hasNextPage}}
              <a href="{{nextLink}}" class="flex w-fit hover:underline">Siguiente <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-right"><path d="m9 18 6-6-6-6"/></svg></a>
              {{/if}}
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</section>