<section class="pb-24 relative min-h-[80vh]">
  <div class="w-full mx-auto p-4 md:px-8">
    <div class="flex flex-row lg:flex-row lg:items-center max-lg:gap-4 w-full">
      <div class="relative w-full md:max-w-sm">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-filter text-[var(--main-dark-5)] dark:text-[var(--main-light-5)] absolute top-1/2 -translate-y-1/2 left-4 z-50">
          <polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3" />
        </svg>
        <label for="Offer" class="sr-only">Offer</label>
        <select id="Offer"
          class="h-12 text-[var(--main-dark-5)] dark:text-[var(--main-light-5)] pl-11 text-base font-normal leading-7 rounded-full block w-full py-2.5 px-4 appearance-none relative focus:outline-none bg-[var(--main-light-accent)] dark:bg-[var(--main-dark-accent)] transition-all duration-500focus-within:bg-gray-50">
          <option value="" {{#if (eq sort "" )}}selected{{/if}}>Más Relevante</option>
          <option value="asc" {{#if (eq sort "asc" )}}selected{{/if}}>Menor Precio</option>
          <option value="desc" {{#if (eq sort "desc" )}}selected{{/if}}>Mayor Precio</option>
        </select>
        <svg class="absolute top-1/2 -translate-y-1/2 right-4 z-50" width="16" height="16" viewBox="0 0 16 16"
          fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M12.0002 5.99845L8.00008 9.99862L3.99756 5.99609" stroke="#111827" stroke-width="1.6"
            stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </div>
      <div class="relative w-full hidden lg:flex justify-center">
        <form action="" method="GET" class="flex flex-row justify-center items-center w-full" id="productSearchForm">
          <label for="busqueda" class="block mb-2 text-sm font-medium text-gray-600 w-full sr-only">Busqueda</label>
          <div class="relative w-full md:max-w-sm">
            <input type="text" name="busqueda" placeholder="Escriba su busqueda aquí"
              class="text-base rounded-full text-[var(--main-text-light)] dark:text-[var(--main-text-dark)] flex-1 py-3 px-4 shadow-[0px 15px 30px -4px rgba(16, 24, 40, 0.03)] md:shadow-none bg-[var(--main-light-accent)] dark:bg-[var(--main-dark-accent)] shadow-none placeholder:text-[var(--main-dark-5)] dark:placeholder:text-[var(--main-light-5)] focus:outline-none focus:outline focus:outline-[var(--main-dark-1)] dark:focus:outline-[var(--main-light-1)] w-full"
              id="productsSearchInput" />
          </div>
          <div
            class="!max-w-[100px] ml-2 text-base rounded-full text-[var(--main-text-dark)] dark:text-[var(--main-text-light)] flex-1 py-3 px-4 shadow-[0px 15px 30px -4px rgba(16, 24, 40, 0.03)] md:shadow-none bg-[var(--main-dark-accent)] dark:bg-[var(--main-light-accent)] shadow-none placeholder:text-[var(--main-dark-5)] dark:placeholder:text-[var(--main-light-5)] focus:outline-none w-full focus:outline focus:outline-[var(--main-dark-1)] dark:focus:outline-[var(--main-light-1)]">
            <button class="flex justify-center items-center" type="submit" id="buttonSearchForm">
              <svg class="stroke-white dark:stroke-black" width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M14.4987 13.9997L13.1654 12.6663M13.832 7.33301C13.832 10.6467 11.1457 13.333 7.83203 13.333C4.51832 13.333 1.83203 10.6467 1.83203 7.33301C1.83203 4.0193 4.51832 1.33301 7.83203 1.33301C11.1457 1.33301 13.832 4.0193 13.832 7.33301Z"
                  stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round" />
              </svg>Buscar</button>
          </div>
        </form>
      </div>
      <div class="relative w-full md:max-w-sm hidden lg:block">
        <div class="relative">
          <button type="button"
            class="h-12 text-[var(--main-dark-5)] dark:text-[var(--main-light-5)] text-base font-normal leading-7 rounded-full block w-full py-2.5 px-4 appearance-none relative focus:outline-none bg-[var(--main-light-accent)] dark:bg-[var(--main-dark-accent)] transition-all duration-500 focus-within:bg-gray-50 shadow-sm shadow-transparent hover:bg-[var(--main-light-2)] hover:dark:bg-[var(--main-dark-5)] hover:shadow-[var(--main-light-accent)]"
            aria-haspopup="listbox" aria-expanded="true" aria-labelledby="listbox-label"
            category-selected-slug="{{categoryBySlug.slug}}" id="categories-select-button">
            <span class="flex items-center">
              <span class="block truncate">{{categorySelectTitle}}</span>
            </span>
            <span class="pointer-events-none absolute inset-y-0 right-0 ml-3 flex items-center pr-2">
              <svg class="h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd"
                  d="M10 3a.75.75 0 01.55.24l3.25 3.5a.75.75 0 11-1.1 1.02L10 4.852 7.3 7.76a.75.75 0 01-1.1-1.02l3.25-3.5A.75.75 0 0110 3zm-3.76 9.2a.75.75 0 011.06.04l2.7 2.908 2.7-2.908a.75.75 0 111.1 1.02l-3.25 3.5a.75.75 0 01-1.1 0l-3.25-3.5a.75.75 0 01.04-1.06z"
                  clip-rule="evenodd" />
              </svg>
            </span>
          </button>
          <ul
            class="hidden absolute z-10 mt-1 max-h-56 w-full overflow-auto rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm"
            tabindex="-1" role="listbox" aria-labelledby="listbox-label" aria-activedescendant="listbox-option-3"
            id="categories-select-container">
            {{{productsCategoriesComponent}}}
          </ul>
        </div>
      </div>
    </div>
    <svg class="my-7 w-full" xmlns="http://www.w3.org/2000/svg" width="1216" height="2" viewBox="0 0 1216 2"
      fill="none">
      <path d="M0 1H1216" stroke="#E5E7EB" />
    </svg>
    <div class="grid grid-cols-12">
      <div class="col-span-12 lg:col-span-3 w-full max-lg:mx-auto block lg:hidden">
        <div
          class="box rounded-xl bg-[var(--main-light-accent)] dark:bg-[var(--main-dark-accent)] p-6 w-full lg:max-w-sm">
          <p class="font-medium text-base leading-7 text-[var(--main-dark-5)] dark:text-[var(--main-light-5)] mb-5">
            ¿Ya sabes lo que estás buscando?</p>
          <form action="" method="GET" class="flex flex-col items-center" id="productSearchForm">
            <label for="busqueda" class="block mb-2 text-sm font-medium text-gray-600 w-full sr-only">Busqueda</label>
            <div class="relative w-full mb-8">
              <input type="text" name="busqueda" placeholder="Escriba su busqueda aquí"
                class="text-base rounded-full text-[var(--main-text-light)] flex-1 py-4 px-6 shadow-[0px 15px 30px -4px rgba(16, 24, 40, 0.03)] md:shadow-none bg-white shadow-none placeholder:text-gray-400 focus:outline-none w-full border focus:border-[var(--main-dark-1)]"
                id="productsSearchInput2" />
            </div>
            <button
              class="w-full py-2.5 flex items-center justify-center gap-2 rounded-full bg-[var(--main-dark-1)] text-[var(--main-text-dark)] font-semibold text-xs shadow-sm shadow-transparent transition-all duration-500 hover:bg-[var(--main-dark-3)] hover:shadow-[var(--main-light-accent)]"
              type="submit" id="buttonSearchForm2">
              <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M14.4987 13.9997L13.1654 12.6663M13.832 7.33301C13.832 10.6467 11.1457 13.333 7.83203 13.333C4.51832 13.333 1.83203 10.6467 1.83203 7.33301C1.83203 4.0193 4.51832 1.33301 7.83203 1.33301C11.1457 1.33301 13.832 4.0193 13.832 7.33301Z"
                  stroke="white" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
              Buscar
            </button>
          </form>
        </div>

        <div
          class="mt-7 box rounded-xl bg-[var(--main-light-accent)] dark:bg-[var(--main-dark-accent)] p-6 w-full lg:max-w-sm">
          <div
            class="flex items-center justify-between w-full pb-3 border-b border-[var(--main-dark-5)] dark:border-[var(--main-light-5)] mb-7">
            <p class="font-medium text-base leading-7 text-[var(--main-dark-5)] dark:text-[var(--main-light-5)]">
              Filtro</p>
            <a href="/productos"
              class="font-medium text-xs text-[var(--main-dark-5)] dark:text-[var(--main-light-5)] cursor-pointer transition-all duration-500 hover:text-[var(--main-dark-1)]">
              REINICIAR</a>
          </div>
          <div>
            <label id="listbox-label"
              class="block text-sm font-medium leading-6 text-[var(--main-dark-5)] dark:text-[var(--main-light-5)]">Filtra
              por
              Categorías</label>
            <div class="relative mt-2">
              <button type="button"
                class="h-12 text-[var(--main-dark-5)] dark:text-[var(--main-light-5)] text-base font-normal leading-7 rounded-full block w-full py-2.5 px-4 appearance-none relative focus:outline-none bg-[var(--main-bg-light)] dark:bg-[var(--main-bg-dark)] transition-all duration-500 focus-within:bg-gray-50 shadow-sm shadow-transparent hover:bg-[var(--main-light-2)] hover:dark:bg-[var(--main-dark-5)] hover:shadow-[var(--main-light-accent)]"
                aria-haspopup="listbox" aria-expanded="true" aria-labelledby="listbox-label"
                category-selected-slug="{{categoryBySlug.slug}}" id="categories-select-button2">
                <span class="flex items-center">
                  <span class="block truncate">{{categorySelectTitle}}</span>
                </span>
                <span class="pointer-events-none absolute inset-y-0 right-0 ml-3 flex items-center pr-2">
                  <svg class="h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd"
                      d="M10 3a.75.75 0 01.55.24l3.25 3.5a.75.75 0 11-1.1 1.02L10 4.852 7.3 7.76a.75.75 0 01-1.1-1.02l3.25-3.5A.75.75 0 0110 3zm-3.76 9.2a.75.75 0 011.06.04l2.7 2.908 2.7-2.908a.75.75 0 111.1 1.02l-3.25 3.5a.75.75 0 01-1.1 0l-3.25-3.5a.75.75 0 01.04-1.06z"
                      clip-rule="evenodd" />
                  </svg>
                </span>
              </button>
              <ul
                class="hidden absolute z-10 mt-1 max-h-56 w-full overflow-auto rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm"
                tabindex="-1" role="listbox" aria-labelledby="listbox-label" aria-activedescendant="listbox-option-3"
                id="categories-select-container2">
                {{{productsCategoriesComponent}}}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full flex flex-col justify-center mt-7">
      <section class="pb-24">
        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
          <div class="grid grid-cols-1 md:grid-cols-2  lg:grid-cols-3 xl:grid-cols-4 gap-4">
            {{#if products}}
            {{#each products}}
            <div class="max-w-[284px] lg:max-w-[484px] w-full mx-auto rounded-xl overflow-hidden" id="{{_id}}">
              <div
              class="w-full h-fit max-w-sm bg-[var(--main-light-accent)] dark:bg-[var(--main-dark-accent)] overflow-hidden p-2"
              >
                <a href="/producto/{{slug}}">
                  <div class="overflow-hidden rounded-xl w-full h-fit">
                    <img
                      loading="lazy"
                      src="{{index images 0}}"
                      alt="cream image"
                      class="h-full w-full max-h-[350px] object-cover"
                    />

                  </div>

                </a>
              </div>
              <div
                class="p-2 flex items-start justify-between bg-[var(--main-light-accent)] dark:bg-[var(--main-dark-accent)] rounded-bl-xl rounded-br-xl">
                <div class="w-full">
                  <p
                    class="font-medium text-[16px] leading-8 text-[var(--main-text-light)] dark:text-[var(--main-text-dark)] pr-2">
                    <a class="hover:underline" href="/producto/{{slug}}">{{title}}</a>
                  </p>
                  <div class="flex items-center justify-between mb-4">
                    <div class="flex flex-col">
                      <p class="font-semibold text-xl leading-8 text-[var(--main-dark-5)] dark:text-[var(--main-light-5)] flex items-center gap-2">
                        {{currency price "arg"}}
                        <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 -11 70 70" fill="none">
                        <rect x="0.5" y="0.5" width="69" height="47" rx="5.5" fill="white" stroke="#D9D9D9"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M21.2505 32.5165H17.0099L13.8299 20.3847C13.679 19.8267 13.3585 19.3333 12.8871 19.1008C11.7106 18.5165 10.4142 18.0514 9 17.8169V17.3498H15.8313C16.7742 17.3498 17.4813 18.0514 17.5991 18.8663L19.2491 27.6173L23.4877 17.3498H27.6104L21.2505 32.5165ZM29.9675 32.5165H25.9626L29.2604 17.3498H33.2653L29.9675 32.5165ZM38.4467 21.5514C38.5646 20.7346 39.2717 20.2675 40.0967 20.2675C41.3931 20.1502 42.8052 20.3848 43.9838 20.9671L44.6909 17.7016C43.5123 17.2345 42.216 17 41.0395 17C37.1524 17 34.3239 19.1008 34.3239 22.0165C34.3239 24.2346 36.3274 25.3992 37.7417 26.1008C39.2717 26.8004 39.861 27.2675 39.7431 27.9671C39.7431 29.0165 38.5646 29.4836 37.3881 29.4836C35.9739 29.4836 34.5596 29.1338 33.2653 28.5494L32.5582 31.8169C33.9724 32.3992 35.5025 32.6338 36.9167 32.6338C41.2752 32.749 43.9838 30.6502 43.9838 27.5C43.9838 23.5329 38.4467 23.3004 38.4467 21.5514ZM58 32.5165L54.82 17.3498H51.4044C50.6972 17.3498 49.9901 17.8169 49.7544 18.5165L43.8659 32.5165H47.9887L48.8116 30.3004H53.8772L54.3486 32.5165H58ZM51.9936 21.4342L53.1701 27.1502H49.8723L51.9936 21.4342Z" fill="#172B85"/>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 -9 58 58" fill="none">
                        <rect x="0.5" y="0.5" width="57" height="39" rx="3.5" fill="white" stroke="#F3F3F3"/>
                        <path d="M34.3102 28.9765H23.9591V10.5122H34.3102V28.9765Z" fill="#FF5F00"/>
                        <path d="M24.6223 19.7429C24.6223 15.9973 26.3891 12.6608 29.1406 10.5107C27.1285 8.93843 24.5892 7.99998 21.8294 7.99998C15.2961 7.99998 10 13.2574 10 19.7429C10 26.2283 15.2961 31.4857 21.8294 31.4857C24.5892 31.4857 27.1285 30.5473 29.1406 28.975C26.3891 26.8249 24.6223 23.4884 24.6223 19.7429" fill="#EB001B"/>
                        <path d="M48.2706 19.7429C48.2706 26.2283 42.9745 31.4857 36.4412 31.4857C33.6814 31.4857 31.1421 30.5473 29.1293 28.975C31.8815 26.8249 33.6483 23.4884 33.6483 19.7429C33.6483 15.9973 31.8815 12.6608 29.1293 10.5107C31.1421 8.93843 33.6814 7.99998 36.4412 7.99998C42.9745 7.99998 48.2706 13.2574 48.2706 19.7429" fill="#F79E1B"/>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-credit-card"><rect width="20" height="14" x="2" y="5" rx="2"/><line x1="2" x2="22" y1="10" y2="10"/></svg>
                      </p>
                      <p class="text-xs tracking-wide">3 cuotas sin interés de {{cuotas price "arg"}}</p>
                    </div>
                    <button aria-label="Agregar al carrito"
                      class="addToCart p-2 min-[400px]:p-2 rounded-full bg-white border border-gray-300 flex items-center justify-center group shadow-sm shadow-transparent transition-all duration-500 hover:shadow-gray-200 hover:border-gray-400 hover:bg-gray-50"
                      data-product-id="{{_id}}" type="button">
                        <svg class="stroke-gray-900 transition-all duration-500 group-hover:stroke-black"
                        xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 26 26" fill="none">
                          <path
                            d="M12.6892 21.125C12.6892 22.0225 11.9409 22.75 11.0177 22.75C10.0946 22.75 9.34632 22.0225 9.34632 21.125M19.3749 21.125C19.3749 22.0225 18.6266 22.75 17.7035 22.75C16.7804 22.75 16.032 22.0225 16.032 21.125M4.88917 6.5L6.4566 14.88C6.77298 16.5715 6.93117 17.4173 7.53301 17.917C8.13484 18.4167 8.99525 18.4167 10.7161 18.4167H18.0056C19.7266 18.4167 20.587 18.4167 21.1889 17.9169C21.7907 17.4172 21.9489 16.5714 22.2652 14.8798L22.8728 11.6298C23.3172 9.25332 23.5394 8.06508 22.8896 7.28254C22.2398 6.5 21.031 6.5 18.6133 6.5H4.88917ZM4.88917 6.5L4.33203 3.25"
                            stroke="" stroke-width="1.6" stroke-linecap="round" />
                        </svg>
                    </button>
                  </div>
                  <p class="!w-full text-xs rounded-md bg-[#24AE7C] hover:bg-[#31c28d] hover:transition-all text-[var(--main-text-dark)]  p-[0.15rem] select-none px-2 text-center">-20% DESCUENTO por transferencia</p>
                </div>
              </div>
            </div>
            {{/each}}
            {{else}}
            <h1 class="text-xl">No hay resultados para tu busqueda. <span><a
                  class="flex items-center justify-normal hover:underline" href="/productos">Volver<svg class="ml-2"
                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-arrow-left-from-line">
                    <path d="m9 6-6 6 6 6" />
                    <path d="M3 12h14" />
                    <path d="M21 19V5" />
                  </svg></a></span></h1>
            <img src="/images/svg/404-error-animate.svg" alt="Sin resultado">
            {{/if}}

          </div>
        </div>
        <div class="w-full flex justify-center text-center mt-10">
          {{#if hasPrevPage}}
          
          <a href="{{prevLink}}" class="flex w-fit mr-5 hover:underline"><svg xmlns="http://www.w3.org/2000/svg"
              width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
              stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-left">
              <path d="m15 18-6-6 6-6" />
            </svg>Anterior</a>
          {{/if}}

          {{#if hasNextPage}}
          <a href="{{nextLink}}" class="flex w-fit hover:underline">Siguiente <svg xmlns="http://www.w3.org/2000/svg"
              width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
              stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-right">
              <path d="m9 18 6-6-6-6" />
            </svg></a>
          {{/if}}
        </div>
      </section>
    </div>
  </div>
</section>