<style>
  .swiper { width: 100%; height: auto; } .swiper-wrapper { display: flex;
  height: auto; } .swiper-slide { flex: 1 0 auto; } .nav-for-slider
  .swiper-slide { height: auto; width: auto; cursor: pointer; } .swiper-wrapper
  { height: auto; } .nav-for-slider .swiper-slide img { border: 2px solid
  transparent; border-radius: 10px; } .nav-for-slider .swiper-slide-thumb-active
  img { border-color: rgb(79 70 229); }
</style>
<section>
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 lg:min-h-[90vh] lg:h-fit">
    <div class="grid grid-cols-1 lg:grid-cols-2 lg:min-h-[90vh] lg:h-fit">
      <div
        class="slider-box h-full mx-0 w-full max-lg:max-w-[608px] lg:pl-8 xl:pl-16 max-lg:mx-auto max-lg:mt-8 lg:flex"
      >
        <div
          class="swiper main-slide-carousel swiper-container relative overflow-hidden lg:order-2"
        >
          <div class="swiper-wrapper flex !h-full">
            {{#each product.images}}
              <div
                class="swiper-slide flex justify-center items-center w-full border border-[var(--main-bg-light)] dark:border-[var(--main-bg-dark)] overflow-hidden"
              >
                <img
                  class="h-full object-cover"
                  src="{{this}}"
                  alt="{{product.title}}"
                />
              </div>
            {{/each}}
          </div>
        </div>
        <div
          class="nav-for-slider w-full lg:w-fit max-lg:max-w-[608px] max-lg:mx-auto max-lg:mt-8 lg:order-1 pt-2"
        >
          <div class="swiper-wrapper flex lg:flex-col lg:items-end !w-fit">
            {{#each product.images}}
              <div class="swiper-slide thumbs-slide !w-fit aspect-square">
                <img
                  src="{{this}}"
                  alt="{{product.title}}"
                  class="cursor-pointer rounded-xl transition-all duration-500 h-[80px] w-full object-cover"
                />
              </div>
            {{/each}}
          </div>
        </div>
      </div>

      <div
        class="flex justify-center bg-[var(--main-light-accent)] dark:bg-[var(--main-dark-accent)] ml-0 mt-2 sm:mt-0"
      >
        <div
          class="pro-detail w-full max-lg:max-w-[608px] p-4 lg:px-8 xl:p-16 max-lg:mx-auto max-lg:mt-8"
        >
          <div class="flex items-center justify-between gap-6 mb-6">
            <div class="text">
              <h2
                class="font-manrope font-bold text-3xl leading-10 text-[var(--main-text-light)] dark:text-[var(--main-text-dark)] mb-2"
              >
                {{product.title}}</h2>
              <p class="font-normal text-base text-gray-500">/
                {{product.category.name}}</p>
              <p
                class="font-normal text-base text-gray-500"
              >{{product.description}}</p>
            </div>
          </div>

          <div class="flex flex-row items-center mb-8 gap-y-3">
            <div class="flex items-center">
              <h5
                class="font-manrope font-semibold text-2xl leading-9 text-[var(--main-text-light)] dark:text-[var(--main-text-dark)]"
              >{{currency product.price "arg"}}
              </h5>
              {{#if product.discount}}
                <span
                  class="ml-3 font-semibold text-lg text-[var(--main-dark-1)]"
                >{{product.discount}}% off</span>
              {{/if}}
            </div>
          </div>
          <div class="flex items-center flex-row gap-3 mb-8">
            <div class="flex items-center h-full">
              <button
                class="group rounded-l-xl px-5 py-[18px] border border-[var(--main-dark-1)] dark:border-[var(--main-light-1)] flex items-center justify-center shadow-sm shadow-transparent transition-all duration-500 hover:bg-[var(--main-light-accent)] hover:dark:bg-[var(--main-dark-accent)] focus-within:outline-gray-300 removeOne"
                id="removeOne"
              >
                <svg
                  class="stroke-[var(--main-dark-1)] dark:stroke-[var(--main-light-1)] transition-all duration-500"
                  xmlns="http://www.w3.org/2000/svg"
                  width="22"
                  height="22"
                  viewBox="0 0 22 22"
                  fill="none"
                >
                  <path
                    d="M16.5 11H5.5"
                    stroke=""
                    stroke-width="1.6"
                    stroke-linecap="round"
                  />
                </svg>
              </button>
              <input
                type="text"
                class="border-y border-[var(--main-dark-1)] dark:border-[var(--main-light-1)] outline-none text-[var(--main-dark-1)] dark:text-[var(--main-light-1)] font-semibold text-lg w-full max-w-[73px] min-w-[60px] placeholder:text-[var(--main-dark-1)] placeholder:dark:text-[var(--main-light-1)] py-[15px] text-center bg-transparent"
                id="quantity"
                value="1"
              />
              <button
                class="group rounded-r-xl px-5 py-[18px] border border-[var(--main-dark-1)] dark:border-[var(--main-light-1)] flex items-center justify-center shadow-sm shadow-transparent transition-all duration-500 hover:bg-[var(--main-light-accent)] hover:dark:bg-[var(--main-dark-accent)] focus-within:outline-gray-300 addOne"
                id="addOne"
              >
                <svg
                  class="stroke-[var(--main-dark-1)] dark:stroke-[var(--main-light-1)] transition-all duration-500"
                  xmlns="http://www.w3.org/2000/svg"
                  width="22"
                  height="22"
                  viewBox="0 0 22 22"
                  fill="none"
                >
                  <path
                    d="M11 5.5V16.5M16.5 11H5.5"
                    stroke=""
                    stroke-width="1.6"
                    stroke-linecap="round"
                  />
                </svg>
              </button>
            </div>
          </div>
          <button
            class="text-center w-full px-5 py-4 rounded-xl bg-[var(--main-dark-1)] flex items-center justify-center font-semibold text-lg text-white shadow-sm shadow-transparent transition-all duration-500 hover:bg-[var(--main-dark-5)]"
            id="addToCart"
            data-product-id="{{product._id}}"
          >
            <svg
              class="stroke-white transition-all duration-500 group-hover:stroke-[var(--main-dark-1)] mr-2"
              width="22"
              height="22"
              viewBox="0 0 22 22"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M10.7394 17.875C10.7394 18.6344 10.1062 19.25 9.32511 19.25C8.54402 19.25 7.91083 18.6344 7.91083 17.875M16.3965 17.875C16.3965 18.6344 15.7633 19.25 14.9823 19.25C14.2012 19.25 13.568 18.6344 13.568 17.875M4.1394 5.5L5.46568 12.5908C5.73339 14.0221 5.86724 14.7377 6.37649 15.1605C6.88573 15.5833 7.61377 15.5833 9.06984 15.5833H15.2379C16.6941 15.5833 17.4222 15.5833 17.9314 15.1605C18.4407 14.7376 18.5745 14.0219 18.8421 12.5906L19.3564 9.84059C19.7324 7.82973 19.9203 6.8243 19.3705 6.16215C18.8207 5.5 17.7979 5.5 15.7522 5.5H4.1394ZM4.1394 5.5L3.66797 2.75"
                stroke=""
                stroke-width="1.6"
                stroke-linecap="round"
              />
            </svg>
            Agregar al carrito
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>